[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
.DS_Store
.idea/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# The web deployment includes the compiled Unity player.
!/web/
!/web/public/
!/web/public/game/
!/web/public/game/Build/
!/web/public/game/Build/**
